input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    
    touchpad {
    tap
    }
  mouse {
    accel-speed 0.6
    accel-profile "flat"

  }
  focus-follows-mouse
  warp-mouse-to-focus
}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1.0
}

animations { 
  slowdown 0.6
}

environment {
    GTK_THEME "Adwaita:dark"
    QT_QPA_PLATFORMTHEME "qt5ct"
    XCURSOR_THEME "Adwaita";
    XCURSOR_SIZE "27"
}

layout {
    gaps 0
    center-focused-column "never"
    
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    
    default-column-width { proportion 0.5; }
    
    focus-ring {
        width 0
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
    
    border {
        off
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/screenshot-%Y-%m-%d_%H-%M-%S.png"


binds {
    Mod+I { spawn "alacritty"; }
    Mod+E { spawn "thunar"; }
    Mod+Y { spawn "zen"; }
    Mod+W { spawn "google-chrome-stable"; }
    Mod+Q { spawn "brave" "--force-dark-mode" "--enable-features=WebUIDarkMode"; }
    Mod+O { spawn "~/.config/rofi/launchers/type-2/launcher.sh"; }
    Mod+P { spawn "protonvpn-app"; } 
    Mod+U { close-window; }
    Mod+M { quit; }
    
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
  

    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down { focus-workspace-down; }
    Mod+Up { focus-workspace-up; }
    
    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-column-to-workspace-down; }
    Mod+Shift+K { move-column-to-workspace-up; }
    
    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }
    
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    
 Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    
    // Optional: Move windows to specific workspaces
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Print { screenshot; }
    Alt+O { 
     spawn "/home/robin/.config/hypr/screenshot-area.sh";
  }
    Alt+P { screenshot-window; }
    
    XF86AudioRaiseVolume { spawn "swayosd-client" "--output-volume" "+5"; }
    XF86AudioLowerVolume { spawn "swayosd-client" "--output-volume" "-5"; }
    XF86AudioMute { spawn "swayosd-client" "--output-volume" "mute-toggle"; }
    XF86AudioMicMute { spawn "swayosd-client" "--input-volume" "mute-toggle"; }
    
    XF86MonBrightnessUp { spawn "swayosd-client" "--brightness" "+2"; }
    XF86MonBrightnessDown { spawn "swayosd-client" "--brightness" "-2"; }
    
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioPause { spawn "playerctl" "play-pause"; }
    
    Mod+Shift+E { quit; }
    
    Mod+Shift+P { power-off-monitors; }
    
    Mod+Tab { focus-workspace-previous; }
    
    Mod+WheelScrollDown { focus-workspace-down; }
    Mod+WheelScrollUp { focus-workspace-up; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }
}
spawn-at-startup "hyprpaper"
spawn-at-startup "waybar"
spawn-at-startup "swayosd-server"
spawn-at-startup "nm-applet"
spawn-at-startup "gammastep" "-P" "-O" "4000"
